<div class="content">
  <h1><%= t(:hello) %> World</h1>
  <h2>h2 Heading 2</h2>
  <h3>h3 Heading 3</h3>
  <h4>h4 Heading 4</h4>
  <h5>h5 Heading 5</h5>
  <h6>h6 Heading 6</h6>
  <p><%= lorem.paragraph %></p>
  <div class="uk-text-center">
  	<%= image_tag lorem.image('910x300') %>
  </div>
</div>